{% extends "dash/layout.html" %}


{% block content %}
	<div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">가맹점 리스트</h1>
            </div>
			<div class="container">
			    <table class="table table-striped">
			        <thead>
				        <tr>
				            <td><B>No.</B></td>
				            <td><B>접수일자</B></td>
				            <td><B>접수직원</B></td>
				            <td><B>브랜드</B></td>
				            <td><B>가맹점</B></td>
				            <td><B>품번</B></td>
				            <td><B>품목</B></td>
				            <td><B>분류</B></td>
				            <td><B>접수내용</B></td>
				            <td><B>처리직원</B></td>
				            <td><B>처리내용</B></td>
				            <td><B>처리일자</B></td>
				            <td><B>비고</B></td>
				        </tr>
			        </thead>
			        <!-- 이 부분이 바뀌었습니다 -->
			        <tbody>
				        {% for a in moa %}
				        <tr>
				            <td> {{ a.id }} </td>
				            <td> {{ a.receipt_date }} </td>
				            <td> {{ a.receipt_staff }} </td>
				            <td> {{ a.brand }} </td>
				            <!-- <td>기호 {{ candidate.party_number }} 번</td> -->
				            <td> {{ a.affiliated_store }} </td>
				            <td> {{ a.item_number }} </td>
				            <td> {{ a.item }} </td>
				            <td> {{ a.classification }} </td>
				            <td> {{ a.receipt_contents }} </td>
				            <td> {{ a.answer_staff }} </td>
				            <td> {{ a.answer_contents }} </td>
				            <td> {{ a.answer_date }} </td>
				            <td> {{ a.note }} </td>
				        </tr>
				        {% endfor %}
				        <!-- 여기까지 -->
			        <tbody>
			    </table>
			</div>
		</div>
	</div>
{% endblock content %}